@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: var(--background);
    --color-background-alt: var(--background-alt);
    --color-primary: var(--primary);
    --color-text: var(--text);
}

:root {
    --background: #FCF6E8;
    --background-alt: #EBE5D6;
    --primary: #1B37A8;
    --text: #040620;
}


.dark {
    --background: #021018;
    --background-alt: #07161F;
    --primary: #1B37A8;
    --text: #FFFFFF;
}
